
button.details {
    background: transparent;
    border: none;

    color: var(--red-200);

    font-weight: 700;
}

.container {
    display: flex;
    flex-direction: column;
}

.container button {
    background: var(--red-200);

    width: 2.5rem;
    height: 2.5rem;

    border: 0;

    margin-bottom: 1rem;

    font-size: 1rem;

    color: var(--gray-700);

    border-radius: 0.2rem;
}

.container h2 {
    margin: 1rem 1rem;
}
.container p {
    margin-bottom: 1rem;

    font-size: 1rem;
}