.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container button.menu {
    width: 40%;
    height: 16vh;

    font-size: 1.4rem;

    background: var(--white);

    border: none;
    border-radius: 0.5rem;
    margin-bottom: 2rem;

    box-shadow: 0 1px 4px 0 rgba(192, 208, 230, 0.8);
}

.container strong {
    font-size: 1.3rem;

    margin-bottom: 2rem;
}

.container button {
    width: 40%;
    height: 16vh;

    font-size: 1.4rem;

    background: var(--green-200);

    border: none;

    box-shadow: 0 1px 4px 0 rgba(192, 208, 230, 0.8);

    border-radius: 0.5rem;
}

@media (max-width: 1024px) {
    .container button.menu {
        width: 80%;
        height: 8vh;
        font-size: 1rem;

        font-weight: 700;
    }

    .container strong {
        margin-left: 2.5rem;
        padding: 1rem;

        font-size: 1rem;
    }

    .container button {
        width: 80%;
        height: 8vh;
        font-size: 1rem;
        font-weight: 700;
    }
    
}