.container {
    display: flex;
    flex-direction: column;
}

.boxCard {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    background: var(--white);

    width: 24vw;
    height: 12vh;
    
    border-radius: 0.5rem;

    margin-bottom: 1rem;
}

.card div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--yellow-200);
    width: 100%;
    height: 40%;

    border-radius: 0.5rem 0.5rem 0 0;

    border: 1px solid var(--gray-400);

    font-size: 1.3rem;
}

.card div {
    width: 100%;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: center; 
    align-items: center;
    height: 2rem;
}

.card div strong,label {
    text-align: center;
}

@media (max-width: 1024px) {
    .card {
        width: 100%;
    }
}